.canvas {
  border: 1px black dotted;
  position: absolute;
  /*
  top: 0px;
  bottom: 0px;
  left: 200px;
  right: 0px; */
}

#canvas-real {
  background-color: #f5f3de;
}

#canvas-draft {
  background-color: transparent;
}
body {
  overflow: hidden;
}
#canvas-container {
  height: 720px;
}

.mainbutton {
  display: grid;
  grid-template-columns: auto auto;
  /* grid-auto-rows: 30px; */
  column-gap: 0.5em;
  row-gap: 0.5em;
  padding: 10px 20px;
  /* width: 300px; */
  justify-content: center;
}

.utility-button {
  font-size: 10px;
  font-weight: 700;
  background-color: rgba(207, 207, 23, 0.466);
  display: grid;
  grid-template-columns: auto;
  /* grid-auto-rows: 30px; */
  column-gap: 1em;
  row-gap: 0.5em;
  padding: 10px 10px;
  /* width: 250px; */
  justify-content: center;
}

.buttonAll {
  display: flex;
  flex-direction: column;
  background-color: bisque;
}

.icons {
  width: 50px;
  cursor: pointer;
  border: 2px solid grey;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0px rgb(0 0 0 / 50%);
}

.contain {
  display: flex;
  justify-content: flex-start;
  margin: 0px;
  padding: 0px;
}
